.git
.gitignore
.pytest_cache
.ruff_cache
__pycache__
*.pyc
*.pyo

venv/
.venv/
models/
tmp/
doc/
tests/
bin/

cfg/.env

*.md
LICENSE
Dockerfile
docker-compose.yml
.dockerignore
Makefile
pyproject.toml
